html, body {
    background-color: black;
    color: #c0c0c0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    
}

body::-webkit-scrollbar{
    width: 7px;
    margin-right: 1px;
  }
body::-webkit-scrollbar-thumb{
    background-color: #c0c0c0;
    border-radius: 10px;
}



.header-shalom{
   /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 27%, rgba(45, 45, 45, 0.3) 81%, rgba(153, 153, 153, 0.1) 100%); */
   /* height: 11rem; */
   
   border: none;  
   transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.container-CCTV{
    background-color: black;
    align-content: center;
    padding-top: 7rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    height: 100svh;
}
.container-muebleria{
    background-color: black;
    /* align-items: start; */
    align-content: center;
    padding-top: 7rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    height: 100svh;
    
}
.container-soldadura{
    background-color: rgb(35, 35, 35);
    align-content: center;
    padding-top: 7rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    height: 100svh;

}
.container-presentacion{
    /* background-color: rgb(11,11, 11); */

    /* background-color: rgba(0, 0, 0, 0.103) ; */
    height: 100svh;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    padding-top: 7rem;
 
}
.container-contacto{
    /* background-color: rgb(11,11, 11); */

    /* background-color: rgba(0, 0, 0, 0.103) ; */
    /* height: 100svh; */
    height: 40rem;
    padding-right: 3rem;
    align-content: center;
    padding-left: 3rem;
    padding-bottom: 7rem;
    padding-top: 7rem;
 
}
.card-contacto{
    background-image: linear-gradient(to bottom, #000000, #080808, #0e0e0e, #141414, #181818, #1c1c1c, #1f1f1f, #232323, #272727, #2b2b2b, #303030, #343434);
    border: none;
    border-radius: 10px;
    max-width: 60%;
    max-height: 100% ; 
    border-radius: 10px
}

.section-contacto{
    height: 100svh;
}

.section-presentacion::after{
    background-image: url("https://i.postimg.cc/mg6xbq91/background-presentacion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    position: absolute;
    opacity: .1;
}


.img-presentation{
    object-fit: contain;
    position: sticky;
    overflow: clip;
    height: 100%;
    width: 100%;
    

}
/* .section-presentation{
    background-image: url("./img/background-presentacion.jpg");
    opacity: .1;
} */


.navbar-shalom{

    backdrop-filter: blur(4px);

}

.container-img{
    background-image: url("https://i.postimg.cc/wB7ttKmT/Imagen1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
}
.item-shalom{
    color: #C0C0C0;
    position: relative;
    font-weight: bold;
    text-shadow: 2px 2px 20px black;

}

.item-shalom:hover{
    color: #e0e0e0;
}

.item-shalom::after{
    content: "";
    background-color: #C0C0C0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 3px;
    opacity: 0;
    transition: all 0.3s;
}

.item-shalom:hover::after{
    opacity: 1;
    width: 100%;
}

.images-carousel{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: sticky;
    max-height: 81rem;
    min-height: 30rem;
    
}

.text-item-carousel{
    width: 35%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #d1d1d1;
    text-shadow:4px 5px 20px rgb(38, 38, 38)
}

.items-shalom-carousel{
    height: 100svh
}

.footerShalom{
    height: 11rem;
    background-color: rgb(11,11, 11);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;    
    color: #676767;
    
}

.slider-muebleria{
    height: max-content;
}

/* .item-slider-muebleria{
    height: 100%;
} */

.item-slider-muebleria{
    display: flex;
    /* padding:0; */
    justify-content: center;
    padding: 0;
    align-self: center;
    align-items: center;
    height: 70%;

}

.img-slick-muebleria{
 
    width: max-content;
    height: 50rem;
    object-fit: cover;
    border-radius: 10px;
}


.container-paragraph-muebleria{
    background-color: #232323;
    border-radius: 10px;
}
.title-muebleria{
    background-color: #292929;
    border-radius: 7px;
}
.container-paragraph-soldadura{
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
}
.title-soldadura{
    background-color: black;
    border-radius: 7px;
}.container-paragraph-CCTV{
    background-color: #232323;
    border-radius: 10px;
}
.title-CCTV{
    background-color: #292929;
    border-radius: 7px;
}

.nav-shalom{
    gap: 2rem;
    font-size: 1rem;
    
}
.card-contacto{
    padding-left: 10px;
    padding-right: 10px;
}

.container-paragraph-soldadura p{
  
    
    text-align: center;
    font-size: xx-large;
}

.container-paragraph-muebleria p{


    text-align: center;
    font-size: xx-large;
}
.container-paragraph-CCTV p{


    text-align: center;
    font-size: xx-large;
}

@media screen and (max-width: 1920px){
    .container-CCTV,

    .container-CCTV{
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;

    }
    .container-soldadura{
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }
    .container-muebleria {
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }

    .container-presentacion {
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }

    .img-presentation {
        height: auto;
    }

    .text-item-carousel {
        width: 100%;
    }

    .img-slick-muebleria {
        width: min-content;
        height: 45rem;
        object-fit: cover;
        padding: 5px;
    }
}
@media screen and (max-width: 1366px){
 
    .container-muebleria{
        align-content: center;
    }
    .container-CCTV{
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;

    }
    .container-soldadura{
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }
    .container-muebleria {
        align-content: center;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }

    .container-presentacion {
        align-content: start;
        padding-top: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 7rem;
    }

    .img-presentation {
        height: auto;
    }

    .text-item-carousel {
        width: 100%;
    }

    .img-slick-muebleria {
        width: min-content;
        height: 40rem;
        object-fit: cover;
        padding-left: 5px;
    }
}

@media screen and (max-width: 1024px){
    .container-CCTV,
    .container-muebleria{
        align-content: center;
    }
    .container-CCTV{
        align-content: center;
        padding-top: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;

    }
    .container-soldadura{
        align-content: center;
        padding-top: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }
    .container-muebleria {
        align-content: center;
        padding-top: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }

    .container-presentacion {
        align-content: center;
        padding-top: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }

    .img-presentation {
        height: auto;
    }

    .text-item-carousel {
        width: 100%;
    }

    .img-slick-muebleria {
        width: min-content;
        height:25rem;
        object-fit: cover;
        padding: 5px;
    }
    
    .container-paragraph-soldadura p{
  
    
        text-align: center;
        font-size: xx-large;
    }

    .container-paragraph-muebleria p{
  
    
        text-align: center;
        font-size: xx-large;
    }
    .container-paragraph-CCTV p{
  
    
        text-align: center;
        font-size: xx-large;
    }


}

@media screen and (max-width: 768px) {
    /* Ajustar estilos para pantallas m치s peque침as */
    .container-CCTV{
        align-content: center;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;

    }
    .container-soldadura{
        align-content: center;
        padding-top: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;
    }
    .container-muebleria{
        align-content: center;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .container-presentacion {
        align-content: center;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .container-contacto{
        /* background-color: rgb(11,11, 11); */
    
        /* background-color: rgba(0, 0, 0, 0.103) ; */
        /* height: 100svh; */
        height: 40rem;
        padding-right: 1.5rem;
        align-content: center;
        padding-left: 1.5rem;
        padding-bottom: 7rem;
        padding-top: 7rem;
     
    }
    .img-presentation {
        height: auto;
    }

    .text-item-carousel {
        width: 100%;
    }

    .img-slick-muebleria {

        height: 25rem;
        object-fit: cover;
        padding: 5px;

    }
    .card-contacto{
        max-width: 80%;
        max-height: 100% ; 
        border-radius: 10px
    }
    .nav-shalom{
        justify-content: center;
        align-self: center;
        width: 100%;
    }
    .container-paragraph-soldadura p{
  
    
        text-align: center;
        font-size: x-large;
    }
    .container-paragraph-muebleria p{
  
    
        text-align: center;
        font-size: x-large;
    }
    .container-paragraph-CCTV p{
  
    
        text-align: center;
        font-size: x-large;
    }
}

@media screen and (max-width: 465px) {
    /* Ajustar estilos para pantallas m치s peque침as */
    .container-CCTV{
        align-content: center;
        padding-top: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;

    }
    .container-soldadura{
        align-content: center;
        padding-top: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;
    }
    .container-muebleria {
        align-content: center;
        padding-top: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;
    }

    .container-presentacion {
        align-content: start;
        padding-top: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;
    }

    .container-contacto{
        /* background-color: rgb(11,11, 11); */
    
        /* background-color: rgba(0, 0, 0, 0.103) ; */
        /* height: 100svh; */
        height: 40rem;
        padding-right: 1rem;
        align-content: center;
        padding-left: 1rem;
        padding-bottom: 7rem;
        padding-top: 7rem;
     
    }
    .img-presentation {
        height: auto;
    }

    .text-item-carousel {
        width: 100%;
    }

    .img-slick-muebleria {

        height: 20rem;
        object-fit: cover;
        padding: 5px;
    }
    .card-contacto{
        max-width: 100%;
        max-height: 100% ; 
        border-radius: 10px
    }
    .nav-shalom{
        gap: 0.5rem;
        font-size: 0.8rem;
        
    }
    .container-paragraph-soldadura p{
  
    
        text-align: center;
        font-size: larger;
    }

    .container-paragraph-muebleria p{
  
    
        text-align: center;
        font-size: larger;
    }
    .container-paragraph-CCTV p{
  
    
        text-align: center;
        font-size: larger;
    }
    
}